<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a PhD Student in the 
      <a class="underline-link" href="https://engineering.purdue.edu/ECE" target="_blank">Elmore Family School of Electrical and Computer Engineering, Purdue University.  </a>
     I am also a Graduate Research Assistant affiliated to the 
      <a class="underline-" target="_blank">Video Analytics for Daily Living (VADL) lab</a>
      &amp;
      
      Previously, I was a researcher at the
      <a class="underline-link" href="https://cps.iisc.ac.in/" target="_blank">Indian Institute of Science UK</a>
      &amp;
      
    </p>

    {% include employment-status.html %}
  </div>
</section>
