<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a PhD Student at
      <a class="underline-link" href="https://www.purdue.edu/" target="_blank">Purdue University.  </a>
     I am also a Research Assistant jointly affiliated to
      <a class="underline-" target="_blank">Camarillo Lab </a>
      &amp;
      
      Previously, I was a researcher at
      <a class="underline-link" href="https://robotics.leeds.ac.uk/research/medical-robotics/surgical-robotics/" target="_blank">Leeds, UK</a>
      &amp;
      
    </p>

    {% include employment-status.html %}
  </div>
</section>
